.regContainer {
  padding: 0px 40px;
  margin-top: 50px;
  top: 0%;
  z-index: 1111;

  .regDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .title {
      font-size: 30px;
    }
    .inputFields {
      display: flex;
      flex-direction: column;
      gap: 15px;
      .fields {
        height: 40px;
        border-radius: 5px;
        width: 100%;
        outline: none;
        padding: 0px 10px;
      }
    }
    .btn {
      background-color: blue;
      font-size: 18px;
      color: white;
    }
  }
  .redirectToLogin {
    text-decoration: underline;
    margin-top: 10px;
    cursor: pointer;
  }
}
